#edit-movie-container {
  background-color: #e4dfda;
  margin: 20px 300px;
}

#edit-movie-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 100px;
}

#edit-movie-form > * {
  margin-bottom: 20px;
}

#genres-header {
  margin-bottom: 5px;
}

#checkboxes-container {
  display: flex;
  flex-wrap: wrap;
}
